@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --border-radius: 12px;
  --primary-color: #0166ff;
  --hover-color: #0553c9;
  --error-color: red;
}

body,
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.form-container {
  margin: 0 auto;
  width: fit-content;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
}

form > div {
  display: flex;
  flex-direction: column;
}

form label {
  width: fit-content;
  margin-bottom: 8px;
}

input[type="text"] {
  border-radius: var(--border-radius);
  border: solid 1px lightgrey;
  padding: 8px 16px;
}

input[type="submit"] {
  background-color: var(--primary-color);
  width: fit-content;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  color: white;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.home-button {
  display: block;
  margin-top: 20px;
  color: var(--primary-color);
  width: fit-content;
}

.home-button:hover {
  color: var(--hover-color);
}

.error {
  color: var(--error-color);
  font-size: 16px;
  margin-top: 16px;
}
